<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de contatos - Youth Flask</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <nav class="red">
        <div class="nav-wrapper">
            <a href="" class="brand-logo center">Youth Contatos</a>
            <ul id="nav-mobile" class="right hide-on-med-end-down">
                <li><a href="/">Home</a></li>
                <li><a href="#add_modal" class="modal-trigger">Adicionar Contato</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll(".modal");
            var instances = M.Modal.init(elems);
        });
    </script>
</body>
</html>